# ESP-IDF/build
/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/build.ninja
**/compile_commands.json
**/*.bin
**/*.elf
**/*.map
**/*.obj
**/*.a
**/*.o
**/*.so
**/*.pch
**/*.log
**/*.pyc
**/*.pyo
**/*.zip
**/*.tar
**/*.gz
**/*.tgz
**/*.xz
**/*.lz
**/.ninja_deps
**/.ninja_log
**/.cache/
**/.clangd/

# IDF specific
/sdkconfig.old
*.bak

# VSCode
.vscode/

# Python venv
.venv/

# Local credentials or certs
*.pem
*.crt
*.key

# Managed components build outputs
managed_components/**/build/
.pio/
